﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="847" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Modifying the Group Variables (all)&#160;File</h1>
        <p style="text-align: left;">Before installing <MadCap:variable name="S3 Connector Variables.ComponentName" />s and components, it is necessary to modify the <em>group /group_vars/all</em> file, located in the <cite>/env/{{targetEnvironmentName}}/group_vars/</cite> directory. </p>
        <p style="text-align: left;">The <em>/group_vars/all</em> file sets a  list of Docker registry entries that determines which images to pull from the Docker Hub repository. It can also set S3 service endpoints, <span class="ProprietaryNonConventional">sproxyd</span> bootstrap nodes, and logger ports and parameter settings. Ansible calls the <em>/group_vars/all</em> file based on the servers listed under corresponding <span class="FileName">inventory</span> file group sections. </p>
        <p class="Note" style="text-align: left;">Replace all <cite>example.com</cite> names in the <em>/group_vars/all</em> file with the mapped DNS&#160;names or IP addresses of the servers in the target environment. Additional lines can be uncommented and set appropriately for optional environment functionality.</p>
        <p class="Note" style="text-align: left;">If the <em>env_host_data</em> and/or <em>env_host_logs</em> are on an external disk drive, that drive must be mounted using fstab.</p>
        <h2 MadCap:autonum="1.1. &#160;">Mandatory Configuration</h2>
        <p style="text-align: left;">The <span class="FileName">/group_vars/all</span> file handles a large number of essential <MadCap:variable name="S3 Connector Variables.ComponentName" /> settings and, with the exception of <span class="Code_Terminal">env_host_data</span>, <span class="Code_Terminal">env_host_logs</span>, <span class="Code_Terminal">env_s3</span>, and <span class="Code_Terminal">location_constraints</span>, these settings should usually persist in their default state.</p>
        <p class="Alert" style="text-align: left;">As empty lines and character spacing are critical to the functioning of yaml files, be careful not to change non-variable aspects of the <i>/group_vars/all</i> file.</p>
        <h3 MadCap:autonum="1.1.1 &#160;">env_host_data</h3>
        <p style="text-align: left;">Modify the <em>env_host_data</em> value to indicate a local directory on which <MadCap:variable name="S3 Connector Variables.ComponentName" /> nodes will store metadata (ideally, an SSD). </p>
        <p class="codeparatext_lastline">env_host_data: /opt/scality/s3/data</p>
        <p class="Note" style="text-align: left;">The RING&#160;stores data on disks at <i>/scalty/ssd/</i><span class="Variable" style="font-style: italic;">n</span>. By default, the <em>env_host_data_value</em> indicated in the <em>/group_vars/all</em> file  is not the same disc on which RING&#160;data is stored. </p>
        <div style="page-break-inside: avoid;">
            <h3 MadCap:autonum="1.1.2 &#160;">env_host_logs</h3>
            <p style="text-align: left;">Edit the <em>env_host_logs</em> value to indicate the location of <MadCap:variable name="S3 Connector Variables.ComponentName" /> log files on the host.</p>
            <p class="codeparatext_lastline">env_host_logs: /var/log/s3</p>
        </div>
        <div>
            <h3 MadCap:autonum="1.1.3 &#160;">env_s3</h3>
            <p style="text-align: left;">Change the env_s3 value to define the <MadCap:variable name="S3 Connector Variables.ComponentName" /> API endpoint. </p>
            <p class="Alert" MadCap:conditions="PrintGuides.GA7.0">Warning: As of release 7.0 the format has changed. </p>
            <p style="text-align: left;">The <MadCap:variable name="S3 Connector Variables.ComponentName" /> supports multiple data backend locations, which are not contained in the AWS specification. </p>
            <p style="text-align: left;">To set up the configuration, instead of specifying “endpoints” as was previously done, a <span class="Variable">rest_endpoints</span> section must specify each endpoint as a key and the default location for that endpoint as a value.</p>
            <p style="text-align: left;"><b>Regarding the endpoint itself</b> — (for example, <em>s3.example.com</em> below), the hostname must resolve to the S3 API endpoint (which usually resolves to the load balancer in front of all  endpoints). The DNS entry of the hostname must be a wildcard entry to resolve bucket names (e.g., <span class="ElementName">bucketname.s3.example.com</span>).</p>
            <p style="text-align: left;"><b>Regarding the default location</b> — (for example <span class="ElementName">us-east-1</span> below), this is the default location to put data for requests to the given endpoint, unless a given bucket has a location or an object is put with an <span class="Variable">x-amz-meta-scal-location-constraint</span> header.  </p>
            <p style="text-align: left;page-break-after: avoid;">In the example below, if a user hits <em>s3.example.com</em>, the default location to put data would be treated as <em>us-east-1</em>. The location <em>us-east-1</em> must map to a location contained in the list of <em>location_constraints</em>. </p><pre xml:space="preserve">env_s3:
    rest_endpoints:
      s3.example.com : us-east-1
      127.0.0.2: us-east-1
      localhost: legacy
      node1.amazonaws.com : us-east-1
</pre>
            <h3 MadCap:autonum="1.1.4 &#160;"><a name="location_constraints"></a>location_constraints</h3>
            <p style="text-align: left;">There can be one or more location_constraints. The key for each <em>location_constraint</em> is its name, which (unless otherwise specified in this guide) can be chosen by the user. In the<em> /group_vars/all</em> file, each <em>location_constraint</em> must have a <em>type</em>, <em>legacy_aws_behavior</em> (whether the user wants requests hitting this endpoint to have legacy AWS behavior), and <em>connector</em>. Connector contains <em>sproxyd</em>, and under <em>sproxyd</em>, the config options for <em>sproxyd</em>, including the port and any other <em>sproxyd</em> configuration options.</p>
            <p style="text-align: left;">A <em>location_constraint</em> called <em>us-east-1</em> must also be specified.</p>
            <p style="text-align: left;">If the Host header of a bucket creation request does not match any of the rest endpoints in your configuration, and a region is not specified in the request, it will be automatically assigned <span class="ElementName">us-east-1</span>.</p>
            <MadCap:snippetBlock src="../Resources/Snippets/cut_paste_pdf_constraint.flsnp" /><pre xml:space="preserve">location_constraints:
  legacy:
    type: scality
    legacy_aws_behavior: no
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4243
          - node2.example.com:4243
          - node3.example.com:4243
          - node4.example.com:4243
          - node5.example.com:4243
          - node6.example.com:4243
  us-east-1:
    type: scality
    legacy_aws_behavior: yes
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4244
          - node2.example.com:4244
          - node3.example.com:4244
          - node4.example.com:4244
          - node5.example.com:4244
          - node6.example.com:4244</pre>
            <p class="Alert" style="text-align: left;">Warning: To upgrade to <MadCap:variable name="S3 Connector Variables.ComponentName" /> 7.0  a <i>location_constraint</i> called <i>legacy</i> must exist, stating the pre-existing sproxyd information (otherwise, data will not be retrievable). A location constraint named <i>us-east-1</i> MUST be included. This will be the default location assigned to a bucket when no location is explicitly provided on a PUT Bucket request and the endpoint used in the request is not contained in the <i>rest_endpoints</i> configuration.</p>
            <h3 MadCap:autonum="1.1.5 &#160;">sproxyd</h3>
            <p style="text-align: left;">The sproxyd Connector installed by Ansible does not use the <em>sagentd</em> component to connect to the <MadCap:variable name="General.ProductName" /> Supervisor.</p>
            <p class="Note" style="text-align: left;">Multiple <em>sproxyd</em> configurations are possible for each location. It is also possible for multiple locations to point to the same sproxyd configuration.</p>
            <h4>Bootstrap List for sproxyd</h4>
            <p style="page-break-after: avoid;text-align: left;">Enter the hostnames for the RING nodes that the <MadCap:variable name="S3 Connector Variables.ComponentName" /> will use to connect to the RING. The available servers can be found on the supervisor, on the operation tab under Chord Address. It is advised that you mix different servers and ports.</p><pre xml:space="preserve">bootstrap_list:
  - node1.example.com:4244
  - node1.example.com:4245
  - node2.example.com:4244
  - node2.example.com:4245
  - node3.example.com:4244
  - node3.example.com:4245
  - node4.example.com:4244
  - node4.example.com:4245
  - node5.example.com:4244
  - node5.example.com:4245</pre>
            <h4>Configuration Options</h4>
            <p style="text-align: left;">The following are supported <i>sproxyd</i> configuration options. For each <i>location_constraint</i>, any of these  options may be specified by adding the information under the <i>sproxyd</i> heading.</p>
            <table style="width: 100%; mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css'); margin-left: auto; margin-right: auto;" class="TableStyle-DetailedwithPadding" cellspacing="0">
                <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 198px;" />
                <col class="TableStyle-DetailedwithPadding-Column-Column1" />
                <thead>
                    <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                        <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Configuration Option</th>
                        <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">chord_cos</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Enabling this option will make sproxydclient go through the chord driver rather than the arc driver <em>chord_cos: 2</em>.</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">lazy_get_enabled</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">This option should be enabled for a geo stretched RING with a significant inter site latency, otherwise it is faster not to use this option. This affects only the replication (chord) driver in sproxyd. Set <em>lazy_get_enabled</em> to 0 to get the <em>fast_mode</em>. The default value is 1 (no fast get) <em>lazy_get_enabled</em>: <em>true</em>. For more information refer to the RING Reference Guide 7.1.</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">data_parts:</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Maximum number of ARC data chunks (k)</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">coding_parts:</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Number of ARC coding chunks (m)</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">erasure_cos:</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Controls the number of copies for data that is too small (&lt; 60 KB) to be stored in erasure coding (i.e. in ARC).</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">min_redundant_parts_put_ok: -1</td>
                        <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Controls the number of coding keys that sproxyd should have written before returning OK to S3 on a PUT operation. The default -1 means that all coding should have been written before returning a 200 OK. The safest value is-1. There should be no need to change the value except in a multi-site environment or other specific environment.</td>
                    </tr>
                </tbody>
            </table>
            <p class="Note" style="text-align: left;">Defining <em>chord_cos</em> means that all the S3 traffic will be stored in replication (chord) using <em>&lt;chord_cos&gt;</em> copy (plus one the original data copies). If <em>chord_cos</em> is defined, the metadata backup will still be stored using erasure coding.</p>
        </div>
    </body>
</html>