﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="875" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>group_vars-all file&#160;</h1>
        <p class="codeparatext"># This variable is defined for backwards compatibility reasons.</p>
        <p class="codeparatext"># To be removed later. This removal will be seamless from</p>
        <p class="codeparatext"># the user's point of view.</p>
        <p class="codeparatext">namespace: 'scality'</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Adds the inventory name as a suffix to the container name, to be able to</p>
        <p class="codeparatext"># run the same container several times on the same host.</p>
        <p class="codeparatext">container_name_suffix: "</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Choose which version you want to deploy. The latest</p>
        <p class="codeparatext"># stable version is recommended.</p>
        <p class="codeparatext"># Released versions can be seen on https://hub.docker.com/r/scality/s3/tags/</p>
        <p class="codeparatext"># Note you must be signed into Docker Hub to access the link.</p>
        <p class="codeparatext"><span>env_deploy_version: 1.x.y</span>
        </p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># These are the registries from where the Docker images will be pulled. Make</p>
        <p class="codeparatext" style="page-break-inside: avoid;column-break-inside: avoid;frame-break-inside: avoid;text-indent: -5em;"># sure the target machines are configured to access the registry with</p>
        <p class="codeparatext"># credentials -- read the "Dependencies on deployer machine" section of</p>
        <p class="codeparatext"># the README file for more details</p>
        <p class="codeparatext" style="color: #000000;">env_docker:</p>
        <p class="codeparatext_indent" style="color: #000000;">registry:</p>
        <p class="codeparatext_indent_indent" style="color: #000000;">s3: 'scality/s3:{{ env_deploy_version }}'</p>
        <p class="codeparatext_indent_indent" style="color: #000000;">metadata: 'scality/metadata:{{ env_deploy_version }}'</p>
        <p class="codeparatext_indent_indent" style="color: #000000;">vault: 'scality/vault-md:{{ env_deploy_version }}'</p>
        <p class="codeparatext_indent_indent" style="color: #000000;">sproxyd: scality/sproxyd-tengine</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext">## Frontend settings. The frontend container:</p>
        <p class="codeparatext">## - optionally terminates ssl</p>
        <p class="codeparatext">## - checks its local s3 connector health</p>
        <p class="codeparatext">## - directs requests to its local s3 connector if healthy</p>
        <p class="codeparatext">## - directs requests to other s3 connectors if the local one is unhealthy</p>
        <p class="codeparatext"># env_s3_frontend_port: 80         # change for a non-standard port</p>
        <p class="codeparatext"># env_s3_frontend_server_name: s3.example.com # must match SSL cert CN</p>
        <p class="codeparatext"># env_s3_frontend_ssl_only: false  # set to true en enforce ssl</p>
        <p class="codeparatext"># env_s3_frontend_ssl_port: 443    # change for a non-standard port</p>
        <p class="codeparatext"># env_s3_frontend_ssl_cert: s3.crt # if ssl is used, file must be in &lt;env&gt;/ssl</p>
        <p class="codeparatext"># env_s3_frontend_ssl_key: s3.key  # if ssl is used, file must be in &lt;env&gt;/ssl</p>
        <p class="codeparatext"># env_s3_frontend_ssl_ca_bundle: ca-bundle.crt # optional, must be in &lt;env&gt;/ssl</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Enable encryption on internal communication between components.</p>
        <p class="codeparatext"># Can not be used at the same time as frontend ssl termination.</p>
        <p class="codeparatext"># This mode is discouraged unless end-to-end encryption is needed.</p>
        <p class="codeparatext"># These paths refer to the target machines, therefore the certificate files</p>
        <p class="codeparatext"># must be deployed on the same path in all machines and have the same name.</p>
        <p class="codeparatext"># 'env_tls_ca' is optional though recommened, specially if the certificate is</p>
        <p class="codeparatext"># self-signed.</p>
        <p class="codeparatext">#</p>
        <p class="codeparatext"># env_tls_cert: /opt/scality/s3/testcert/cert.pem</p>
        <p class="codeparatext"># env_tls_key: /opt/scality/s3/tescert/key.pem</p>
        <p class="codeparatext"># env_tls_ca: /opt/scality/s3/testcert/ca.pem</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Enable SAML support in Vault.</p>
        <p class="codeparatext"># 'entry_point' is the IdProvider's URL</p>
        <p class="codeparatext"># 'entry_point_logout' is the IdProvider's logout URL (optional, defaulted to</p>
        <p class="codeparatext"># &#160;&#160;&#160;ADFS).</p>
        <p class="codeparatext"># 'issuer' is Vault's interface to SSO users</p>
        <p class="codeparatext"># 'secretkey_expiration_hours' is the number of hours during the retrieved</p>
        <p class="codeparatext"># &#160;&#160;&#160;accessKey,secretKey will be valid</p>
        <p class="codeparatext"># 'tls_key' is the route to HTTPS certificate file in the target  machine </p>
        <p class="codeparatext"># 'tls_cert' is the route to HTTPS certificate private key in the target machine</p>
        <p class="codeparatext" style="font-weight: bold;">&#160;</p>
        <p class="codeparatext"># env_vault_saml:</p>
        <p class="codeparatext"># &#160;&#160;entry_point: https://172.17.0.2/simplesaml/saml2/idp/SSOService.php</p>
        <p class="codeparatext"># &#160;&#160;entry_point_logout: https://172.17.0.2/simplesaml/saml2/idp/SingleLogoutService.php</p>
        <p class="codeparatext"># &#160;issuer:</p>
        <p class="codeparatext">#&#160;&#160;&#160;&#160;host: https://127.0.0.1</p>
        <p class="codeparatext">#&#160;&#160;&#160;&#160;port: 3030</p>
        <p class="codeparatext"># &#160;secretkey_expiration_hours: 1</p>
        <p class="codeparatext"># &#160;session_expiration_hours: 6</p>
        <p class="codeparatext">#&#160;&#160;tls_key: /tmp/testcert/key.pem</p>
        <p class="codeparatext">#&#160;&#160;tls_cert: /tmp/testcert/cert.pem</p>
        <p class="codeparatext"># &#160;account_name_claim: accountname</p>
        <p class="codeparatext">#&#160;&#160;email_address_claim: emailaddress</p>
        <p class="codeparatext">#&#160;&#160;primary_group_sid_claim: primarygroupsid</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># This is where persistent data and the conf will be stored on host.</p>
        <p class="codeparatext"># For production, choose a persistent place with enough space.</p>
        <p class="codeparatext">env_host_data: /opt/scality/s3/data</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Where logs will be stored on host.</p>
        <p class="codeparatext">env_host_logs: /var/log/s3</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Changing this flag allows to have multiple S3-scality installations on one</p>
        <p class="codeparatext"># ring with no conflict on the backups of each installation</p>
        <p class="codeparatext"># env_metadata_installID: 0</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># This forces bucket leaders to be on a particular site.</p>
        <p class="codeparatext"># Applies to Metadata and Metadata-Vault. The value must be a group name </p>
        <p class="codeparatext"># (found in the inventory) that contains more than half of the metadata</p>
        <p class="codeparatext"># servers.</p>
        <p class="codeparatext"># env_metadata_force_leader_on_site: site_a</p>
        <p class="codeparatext">#</p>
        <p class="codeparatext"># Expected maximum round-trip latency between hosts. For example, in a</p>
        <p class="codeparatext"># multi-site deployment, it is the slowest round-trip time between any</p>
        <p class="codeparatext"># two sites, in milliseconds.</p>
        <p class="codeparatext">#</p>
        <p class="codeparatext"># This parameter is used to compute timeouts and leader election timers.</p>
        <p class="codeparatext"># env_network_latency_ms: 1</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Uses an in-memory queue to propagate leader election results to clients</p>
        <p class="codeparatext"># (such as bucketd and vault). This is recommended to improve recovery times</p>
        <p class="codeparatext"># on leader restarts, but increases the number of open connections by about</p>
        <p class="codeparatext"># (METADATA_HOSTS * S3_HOSTS * 14).</p>
        <p class="codeparatext">#</p>
        <p class="codeparatext"># env_metadata_push_leader_change: yes</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Changing this value allows to change the number of repds to launch in each</p>
        <p class="codeparatext"># server, map included</p>
        <p class="codeparatext"># env_metadata_repdnumber: 8</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># S3 service needs to know its endpoint (domain name) to be able to distinguish</p>
        <p class="codeparatext"># DNS-style requests from path-styles ones.</p>
        <p class="codeparatext">env_s3:</p>
        <p class="codeparatext_indent">endpoints:</p>
        <p class="codeparatext_indent_indent">- s3.example.com</p>
        <p class="codeparatext_indent"># kms:</p>
        <p class="codeparatext_indent_indent"># username:</p>
        <p class="codeparatext_indent_indent"># password:</p>
        <p class="codeparatext_indent"># enable_utilization_api: false</p>
        <p class="codeparatext_indent_indent">&#160;</p>
        <p class="codeparatext"># Configuration block for sproxyd.</p>
        <p class="codeparatext">env_sproxyd:</p>
        <p class="codeparatext_indent"># Enabling chord_cos will make sproxydclient go through the chord driver </p>
        <p class="codeparatext_indent"># rather than the arc driver</p>
        <p class="codeparatext_indent"># chord_cos: 2</p>
        <p class="codeparatext_indent">#</p>
        <p class="codeparatext_indent"># lazy_get should be enabled for geo stretched</p>
        <p class="codeparatext_indent"># ring with a significant inter site latency</p>
        <p class="codeparatext_indent"># otherwise it is faster not to use lazy_get</p>
        <p class="codeparatext_indent"># this affects only the replication (chord)</p>
        <p class="codeparatext_indent"># driver in sproxyd</p>
        <p class="codeparatext_indent"># lazy_get_enabled: "false"</p>
        <p class="codeparatext_indent">#</p>
        <p class="codeparatext_indent">#</p>
        <p class="codeparatext_indent"># Here we can tweak the erasure coding with the following three variables</p>
        <p class="codeparatext_indent"># data_parts: 9</p>
        <p class="codeparatext_indent"># coding_parts: 3</p>
        <p class="codeparatext_indent"># erasure_cos: 3</p>
        <p class="codeparatext_indent"># erasure_cos controls the number of copies for data that is too</p>
        <p class="codeparatext_indent"># small (&lt;60 KM) to be stored in erasure coding (i.e. in ARC).</p>
        <p class="codeparatext_indent"># Note the difference with chord_cos: defining chord_cos means</p>
        <p class="codeparatext_indent"># that all the S3 traffic will be stored in replication (chord)</p>
        <p class="codeparatext_indent"># using &lt;chord_cos&gt; copy (plus one the original data copy).</p>
        <p class="codeparatext_indent"># If chord_cos is defined, the metadata backup will still</p>
        <p class="codeparatext_indent"># be stored using erasure coding.</p>
        <p class="codeparatext_indent">#</p>
        <p class="codeparatext_indent">#  min_redundant_parts_put_ok: -1</p>
        <p class="codeparatext_indent"># the above parameter controls the number of coding keys</p>
        <p class="codeparatext_indent"># that sproxyd should have written before returning ok</p>
        <p class="codeparatext_indent"># to S3 on a PUT. The default -1 means that all coding</p>
        <p class="codeparatext_indent"># should have been written before returning a 200 OK.</p>
        <p class="codeparatext_indent"># Unless you are in a multisite environment or other</p>
        <p class="codeparatext_indent"># specific environment, -1 is probably the best</p>
        <p class="codeparatext_indent"># value.</p>
        <p class="codeparatext_indent">#</p>
        <p class="codeparatext_indent"># bootstrap list for sproxyd</p>
        <p class="codeparatext_indent"># You can find the available servers on your supervisor</p>
        <p class="codeparatext_indent"># under the operation tab under Chord Address.</p>
        <p class="codeparatext_indent"># It is advised that you mix different servers and ports.</p>
        <p class="codeparatext_indent">bootstrap_list:</p>
        <p class="codeparatext_indent_indent">- node1.example.com:4244</p>
        <p class="codeparatext_indent_indent">- node1.example.com:4245</p>
        <p class="codeparatext_indent_indent">- node2.example.com:4244</p>
        <p class="codeparatext_indent_indent">- node2.example.com:4245</p>
        <p class="codeparatext_indent_indent">- node3.example.com:4244</p>
        <p class="codeparatext_indent_indent">- node3.example.com:4245</p>
        <p class="codeparatext_indent_indent">- node4.example.com:4244</p>
        <p class="codeparatext_indent_indent">- node4.example.com:4245</p>
        <p class="codeparatext_indent_indent">- node5.example.com:4244</p>
        <p class="codeparatext_indent_indent">- node5.example.com:4245</p>
        <p class="codeparatext_indent_indent">&#160;</p>
        <p class="codeparatext_indent"># Use to override redis cluster name and ports</p>
        <p class="codeparatext_indent"># env_redis_sentinel_cluster_name: 'scality-s3'</p>
        <p class="codeparatext_indent"># env_redis_sentinel_port: 26379</p>
        <p class="codeparatext_indent"># env_redis_server_port: 6379</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Vault cache TTL in seconds. Applies to policies and other cached entities.</p>
        <p class="codeparatext"># env_vault_cache_ttl: 60</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Healthchecks only allow localhost clients by default. Use this configuration</p>
        <p class="codeparatext"># variable to allow extra hosts and subnets (formatted as CIDRs)</p>
        <p class="codeparatext"># env_healthcheck_allow_ips:</p>
        <p class="codeparatext">#   - '1.2.3.4/24'</p>
        <p class="codeparatext">#   - '5.6.7.8'</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext">env_logger:</p>
        <p class="codeparatext_indent"># The following variables can be uncommented and tweaked to tune the ports </p>
        <p class="codeparatext_indent"># used by the various services of the logger container.</p>
        <p class="codeparatext_indent"># elasticsearch_port: 19200</p>
        <p class="codeparatext_indent"># elasticsearch_cluster_port: 19300</p>
        <p class="codeparatext_indent"># elasticsearch_data_path: /tmp</p>
        <p class="codeparatext_indent"># max_index_size_gb: 250</p>
        <p class="codeparatext_indent"># es_heap_size_gb: 8</p>
        <p class="codeparatext_indent"># logstash_port: 15507</p>
        <p class="codeparatext_indent"># logstash_beat_port: 15508</p>
        <p class="codeparatext_indent"># kibana_port: 15601</p>
        <p class="codeparatext_indent"># level: info</p>
        <p class="codeparatext_indent"># dump_level: error</p>
    </body>
</html>